<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova.plugin.demo"
        version="0.1.0">

  <name>CordovaPluginJsDemo</name>

  <js-module src="www/jsplugin.js" name="jsplugin">
    <clobbers target="JsPlugin" />
  </js-module>

</plugin>